<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
    {{ content_for_header }}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {% render 'color-schemes' %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>

  <body class="template-password color-scheme-1">
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {{ 'constants.js' | asset_url | script_tag }}
    {{ 'pubsub.js' | asset_url | script_tag }}
    {{ 'global.js' | asset_url | script_tag }}
  </body>
</html>
