<div class="customer reset-password section page-width color-{{ section.settings.color_scheme }}">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
  <p>{{ 'customer.reset_password.subtext' | t }}</p>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}<p class="form__message form__message--error">{{ form.errors | default_errors }}</p>{%- endif -%}
    <div class="field"><label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label><input type="password" name="customer[password]" id="ResetPassword" autocomplete="new-password" required></div>
    <div class="field"><label for="ResetConfirm">{{ 'customer.reset_password.password_confirm' | t }}</label><input type="password" name="customer[password_confirmation]" id="ResetConfirm" autocomplete="new-password" required></div>
    <button type="submit" class="button">{{ 'customer.reset_password.submit' | t }}</button>
  {%- endform -%}
</div>
{% schema %}
{ "name": "Reset password", "settings": [ { "type": "color_scheme", "id": "color_scheme", "default": "scheme-1", "label": "Color scheme" } ] }
{% endschema %}
