<div class="customer activate section page-width color-{{ section.settings.color_scheme }}">
  <h1>{{ 'customer.activate_account.title' | t }}</h1>
  <p>{{ 'customer.activate_account.subtext' | t }}</p>
  {%- form 'activate_customer_password' -%}
    {%- if form.errors -%}<p class="form__message form__message--error">{{ form.errors | default_errors }}</p>{%- endif -%}
    <div class="field"><label for="ActivatePassword">{{ 'customer.activate_account.password' | t }}</label><input type="password" name="customer[password]" id="ActivatePassword" autocomplete="new-password" required></div>
    <div class="field"><label for="ActivateConfirm">{{ 'customer.activate_account.password_confirm' | t }}</label><input type="password" name="customer[password_confirmation]" id="ActivateConfirm" autocomplete="new-password" required></div>
    <button type="submit" name="commit" class="button">{{ 'customer.activate_account.submit' | t }}</button>
    <button type="submit" name="decline" class="button button--secondary">{{ 'customer.activate_account.cancel' | t }}</button>
  {%- endform -%}
</div>
{% schema %}
{ "name": "Activate account", "settings": [ { "type": "color_scheme", "id": "color_scheme", "default": "scheme-1", "label": "Color scheme" } ] }
{% endschema %}
