<div class="password-page color-scheme-1">
  <div class="password-page__content page-width">
    {%- if shop.password_message != blank -%}<div class="rte">{{ shop.password_message }}</div>{%- endif -%}
    <h1>{{ shop.name }}</h1>
    {%- form 'storefront_password' -%}
      {%- if form.errors -%}<p class="form__message form__message--error">{{ form.errors.translated_fields.password | capitalize }} {{ form.errors.messages.password }}</p>{%- endif -%}
      <div class="field">
        <label for="Password">{{ 'general.password_page.password_label' | t }}</label>
        <input type="password" name="password" id="Password" placeholder="{{ 'general.password_page.password_placeholder' | t }}" autocomplete="current-password">
      </div>
      <button type="submit" class="button">{{ 'general.password_page.submit' | t }}</button>
    {%- endform -%}
  </div>
</div>
{% schema %}
{ "name": "Password", "settings": [] }
{% endschema %}
