<div class="customer register section page-width color-{{ section.settings.color_scheme }}">
  <h1>{{ 'customer.register.title' | t }}</h1>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <p class="form__message form__message--error">{{ form.errors | default_errors }}</p>
    {%- endif -%}
    <div class="field"><label for="RegisterFirst">{{ 'customer.register.first_name' | t }}</label><input type="text" name="customer[first_name]" id="RegisterFirst" autocomplete="given-name"></div>
    <div class="field"><label for="RegisterLast">{{ 'customer.register.last_name' | t }}</label><input type="text" name="customer[last_name]" id="RegisterLast" autocomplete="family-name"></div>
    <div class="field"><label for="RegisterEmail">{{ 'customer.register.email' | t }}</label><input type="email" name="customer[email]" id="RegisterEmail" autocomplete="email" required></div>
    <div class="field"><label for="RegisterPassword">{{ 'customer.register.password' | t }}</label><input type="password" name="customer[password]" id="RegisterPassword" autocomplete="new-password" required></div>
    <button type="submit" class="button">{{ 'customer.register.submit' | t }}</button>
  {%- endform -%}
  <p><a href="{{ routes.account_login_url }}">{{ 'customer.register.return' | t }}</a></p>
</div>
{% schema %}
{ "name": "Register", "settings": [ { "type": "color_scheme", "id": "color_scheme", "default": "scheme-1", "label": "Color scheme" } ] }
{% endschema %}
